@import '../../../styles/styles.scss';

.header {
  @include flex-center();
  background-color: $primary-color;
  padding: 20px;
  nav {
    flex: 1;
  }
  ul {
    list-style: none;
    @include flex-center();
    li {
      padding: 5px;
      margin: 0 10px;
      a {
        text-decoration: none;
        color: inherit;
        font-size: 20px;
        font-weight: 300;
      }
    }
  }
}
